@font-face {
    /*font-family: 'Minecraft';
    src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot');
    src: url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot?#iefix') format('embedded-opentype'), url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.woff') format('woff'), url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf') format('truetype'), url('http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.svg#svgFontName') format('svg');*/
    font-family: 'MCButton';
    src: url('F77MinecraftRegular-0VYv.ttf');
}

@media all {

    /*Animationen*/

    @keyframes redstone {
        0% {
            left: 0%;
            width: 10%;
            height: 10%;
            transform: rotate(0deg);
        }

        /*50% {
            width: 5%;
            height: 5%;
        }*/

        100% {
            left: 90%;
            width: 10%;
            height: 10%;
            transform: rotate(360deg);
        }



    }

    @keyframes shake {
        0% {
            transform: translate3d(60px, 60px, 0);
        }

        100% {
            transform: translate3d(-10px, 0px, 0);
        }
    }
   
    @keyframes suchleiste{
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes navbar {
        from { 
            width: 107%;
        }
        to {
            width: 100%;
        }
    }

    @keyframes bilddrehen {
        
        0%, 50%, 100% {
            transform: rotate3d(0,1,1,0);
            margin-left: 0px;
        }
        
        25% {
            transform: rotate3d(0,1,1, 30deg);
            margin-left: -30px;
        }

        50% {
            transform: rotate3d(0,1,1, -30deg);
            margin-left: 30px;
        } 
    }

    /*Allgemein*/

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .scene,
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    body {
        margin: 0% 0% 0% 0%;
        width: 100%;
        color: white;
    }

    img.animationRestone {
        width: 100px;
        height: 100px;
        position: relative;
        animation-name: redstone;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        float: left;
        margin: 10% 100% 0 0;
    }

    h1 {
        margin-bottom: 0.5rem;
        font-family: MCButton; /*"Cabin Sketch", cursive;*/
        font-weight: 500;
        line-height: 1.2;
    }

    h3 {
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
    }

    /*Navbar*/

    ul.nav-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-family: MCButton;
    }

    .navLinks-active {
        animation-name: navbar;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }

    li.header {
        float: left;
        width: 10%;
        border-right: 1px solid #bbb
    }

    li.header:last-child {
        border-right: none;
        float: right;
    }

    li.header a {
        display: flex;
        justify-content: space-around;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        letter-spacing: 1.5px;
    }

    li.header a:hover:not(#active) {
        background-color: #111;
    }

    li#active {
        width: 15%;
    }

    li.suchfeld {
        float: right;
    }

    li#randomPage {
        width: auto;
    }

    /* Suche */

    div#searchDiv {
        display: none;
        position: relative;
        animation-name: suchleiste;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }

    img#searchIcon {
        margin-top: 7%;
        cursor: pointer;
    }

    input#suchbegriff {
        width: 160px;
    }

    input#suchbegriff::placeholder {
        color: rgba(255,255,255,0.3);
        text-shadow: none;
    }

    input.mcButton {
        height: 30px;
        width: 100px;
        outline: 2px solid black;
        position: relative;
        margin: 0;
        display: inline-block;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
        background-repeat: repeat;
        padding: 0;
        font-family: Minecraft;
        text-align: center;
        color: white;
        text-shadow: 3px 3px #4C4C4C;
        border-bottom: 4px solid #565656;
        border-right: 2px solid #565656;
        border-left: 2px solid #AAA;
        border-top: 2px solid #AAA;
        box-sizing: border-box;
        font-size: 13px;
        font-family: MCButton;
        margin-bottom: 5px;
    }

    input.mcButton span {
        position: relative;
        line-height: 40px;
        bottom: 3px;
    }

    input.mcButton:hover {
        border-bottom: 4px solid #59639A;
        border-right: 2px solid #59639A;
        border-left: 2px solid #BDC6FF;
        border-top: 2px solid #BDC6FF;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
        color: #FFFFA0;
    }

    #active {
        background-color: #4CAF50;
    }

    /* Header */

    div.header {
        background-image: url(images/headerHintergrund.png);
        position: fixed;
        width: 100%;
        text-align: center;
        z-index: 1;
        min-height: 13vh;
    }

    .savespace {
        width: 3.75%;
    }

    table.header {
        margin: 1% 0 0 0.75%;
        width: 99%;
    }

    td:last-child {
        width: 5%;
    }

    td.logo {
        width: 100px;
    }

    img.logo {
        width: 150%;
    }

    li#dropdown {
        align-items: center;
        padding: 7px 40px;
        border-right: none;
    }

    .dropdown {
        display: none;
        cursor: pointer;
    }

    div.line1, div.line2, div.line3 {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }


    /*Sidebar*/

    div.sidebar {
        float: left;
        width: 5%;
        position: fixed;
        background: rgba(131, 167, 71, 0.7);
        margin: 8% 0 0 2.5%;
        padding-top: 1%;
        border-radius: 15px;
        text-align: center;
        z-index: 1;
    }

    img.sidebar {
        width: 70%;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    img.sidebar:hover {
        opacity: 0.5;
    }

    div.gitHub_Information {
        float: left;
        width: 8%;
        position: fixed;
        background: rgba(131,167,71,0.7);
        margin: 8% 0 0 91%;
        padding: 1% 0%;
        border-radius: 15px;
        z-index: 1;
        text-align: center;
    }

    div.gitHub_footer {
        display: none;
        justify-content: space-around;
        width: 100%;
        background: rgba(131, 167,71,0.7);
        padding: 2%;
    }

    div.gitHub_footer div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    div.gitHub_footer_title {
        margin-top: 22px;
    }

    div.gitHub_Information > p, div.gitHub_footer_title > p {
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Cabin Sketch', cursive;
    }   

    div.gitHub_footer_title > p {
        font-size: 25px;
    }

    div.gitHub_Information > p > a, div.gitHub_Information > p > a:visited, div.gitHub_footer_title > p > a, div.gitHub_footer_title > p > a:visited {
        text-decoration: none;
        color: black;
    }

    ul.gitHub {
        list-style-type: none;
    }

    ul.gitHub > li {
        float: left;
        margin: 10px 20px 0 10px;
    }



    /*Content*/

    article {
        float: left;
        height: 100%;
        width: 100%;
        /*padding: 0 0 0 0%;*/
        background-image: url(images/dirtHintergrund.png);
        box-shadow: rgba(0,0,0,0.3) 10px 10px 10px 10px;
    }

    div.preview {
        width: 80%;
        height: 100%;
        float: left;
        background-image: url("images/previewBackground.jpg");
        margin: 8% 0 0 10%;
        padding-top: 5%;
        box-shadow: rgba(0,0,0,0.7) 0px 0px 20px 20px;
    }

    div.seitenbreite {
        width: 70%;
        margin-left: 15%;
        /*border-bottom: solid 3px rgb(51,51,51);*/
        float: left;
    }

    div.seitenbreite2 {
        width: 70%;
        margin-left: 15%;
        float: left;
    }

    div.previewWindow {
        float: left;
        width: 30%;
        height: 50%;
        margin-top: 5%;
        /*background-color: rgba(255, 0, 0, 0.5);*/
        /*border: solid 1px black;*/
        border-radius: 10px 10px 10px 10px;
        padding: 5% 0;
        box-shadow: 2px 5px 10px rgba(39, 39, 39,0.7);
        background-image: url(images/grasshintergrundklein.png);
    }

    div.hr {
        margin: 50px auto;
        width: 90%;
        border: solid 2px slategray;
    }

    p.invis {
        font-family: 'Cabin Sketch', cursive;
    }

    p#beschreibung {
        font-size: 25px;
    }

    p.seitenüberschrift {
        font-size: 70px;
        font-weight: bold;
        font-family: 'Comic Sans MS';
        text-align: center;
    }

    p.unterüberschrift {
        font-size: 30px;
        padding: 20px 100px;
    }

    /*Logik-Gatter*/

    div#logicGate {
        margin: 5% 5% 5% 10%;
        transition: width 1.5s, height 1.5s;
    }

    div#logicGate:hover {
        width: 50%;
        height: 70%;
    }

    div#logicGate:hover ~ div#logicInvis {
        display: block;
        position: relative;
        animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    div#logicInvis {
        display: none;
        margin: 6% 5% 5% 66%;
        padding-top: 0.25%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        border-radius: 5%;
        width: 40%;
    }

    video#logicVideo {
        border-radius: 10px;
        display: none;
    }

    img#logicPic {
        width: 90%;
        border-radius: 10px;
        opacity: 1; 
        display: block;
        z-index: -1;
    }

    img#logicPic:hover {
        /*animation: bilddrehen 6s forwards ease;
        animation-delay: 2s;*/
        animation: none;
    }

    /*Tisch*/

    div#table {
        margin: 5% 5% 5% 10%;
        transition: width 1.5s, height 1.5s;
    }

    div#table:hover {
        width: 50%;
        height: 70%;
    }

    div#table:hover ~ div#tableInvis {
        display: block;
        position: relative;
        animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    div#tableInvis {
        display: none;
        margin: 6% 10% 5% 66%;
        padding-top: 0.25%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        padding: 0% 2%;
        border-radius: 5%;
        width: 40%;
    }

    img#tablePic {
        width: 50%;
        height: auto;
        border-radius: 10px;
        opacity: 1;
    }

    img#tablePic:hover {
        opacity: 0.5;
        filter: alpha(opacity=100);
    }

    /*Tutorial-Buch*/

    div#tutorial {
        margin: 5% 5% 5% 10%;
        transition: width 1.5s, height 1.5s;
    }

    div#tutorial:hover {
        width: 50%;
        height: 70%;
    }

    div#tutorial:hover ~ div#tutorialInvis {
        display: block;
        position: relative;
        animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    div#tutorialInvis {
        display: none;
        margin: 6% 10% 5% 66%;
        padding-top: 0.25%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        padding: 0% 2%;
        border-radius: 5%;
        width: 40%;
    }

    img#tutorialPic {
        width: 50%;
        height: auto;
        border-radius: 10px;
        opacity: 1;
    }

    img#tutorialPic:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    /*Test*/

    div#test {
        margin: 5% 5% 5% 10%;
        transition: width 1.5s, height 1.5s;
    }

    div#test:hover {
        width: 50%;
        height: 70%;
    }

    div#test:hover ~ div#testInvis {
        display: block;
        position: relative;
        animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    div#testInvis {
        display: none;
        margin: 5% 10% 5% 66%;
        padding-top: 0.25%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        padding: 0% 2%;
        border-radius: 5%;
        width: 40%;
    }

    img#testPic {
        width: 50%;
        height: auto;
        border-radius: 10px;
        opacity: 1;
    }

    img#testPic:hover {
        opacity: 0.5;
        filter: alpha(opacity=100);
    }

    /*Footer*/

    div.footer {
        width: 100%;
        background-color: rgb(116, 136, 62);
        position: page;
        float: left;
    }

    div.impressum {
        float: left;
        width: 20%;
        border-top: solid 3px rgba(0,0,0,0.8);
        padding: 2% 0 0 2%;
    }

    a.mcButton {
        height: 50px;
        width: 150px;
        outline: 2px solid black;
        position: relative;
        margin: 0;
        display: inline-block;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
        background-repeat: repeat;
        padding: 0;
        font-family: Minecraft;
        text-align: center;
        color: white;
        text-shadow: 3px 3px #4C4C4C;
        border-bottom: 4px solid #565656;
        border-right: 2px solid #565656;
        border-left: 2px solid #AAA;
        border-top: 2px solid #AAA;
        box-sizing: border-box;
        font-size: 15px;
        font-family: MCButton;
        text-decoration: none;
        padding-top: 5%;
    }

    a.mcButton span {
        position: relative;
        line-height: 40px;
        bottom: 3px;
    }

    a.mcButton:hover {
        border-bottom: 4px solid #59639A;
        border-right: 2px solid #59639A;
        border-left: 2px solid #BDC6FF;
        border-top: 2px solid #BDC6FF;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
        color: #FFFFA0;
    }

    div.footerMitte {
        float: left;
        width: 56%;
        border-top: solid 3px rgba(0,0,0,0.8);
        padding-top: 20px;
    }

    img.logoFooter {
        margin-left: 45%;
        width: 25%;
    }

    div.icons {
        float: right;
        width: 24%;
        border-top: solid 3px rgba(0,0,0,0.8);
        padding: 2% 2% 0 0;
    }

    img.footer {
        width: 15%;
        float: right;
        margin-right: 5px;
    }

    img.footer:hover {
        opacity: 0.5;
    }

    ul.footer {
        padding-left: 0%;
        list-style-type: none;
        overflow: hidden;
    }

    /* Forum */

    div.forumHeader {
        margin: 1% 2%;
        width: 96%;
        border-top: groove 1px black;
        border-left: groove 1px black;
        border-right: groove 1px black;
        border-bottom: dashed 1px black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(116, 136, 62);
        float: left;
        padding-bottom: 2%;
    }

    .forumHeader > h1 {
        font-family: 'Comic Sans MS';
    }

    div.table {
        float: left;
        margin: 2% 0 0 3%;
        width: 94%;
    }

    table.uebersichtforum {
        text-align: left;
        float: left;
        font-family: 'Comic Sans MS';
    }

    td.typeForum {
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        border-left: solid 1px black;
        border-right: dashed 1px black;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        width: 4%;
    }

    td.typeForum:hover {
        background-color: rgba(95, 95, 95, 0.3);
    }

    td.nameForum {
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        width: 100%;
    }

    td.usernameForum {
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        border-left: dashed 1px black;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 18%;
    }
}

@media all and (min-width: 3400px) {
   
    p.seitenüberschrift {
        font-size: 300px;
    }

    p.unterüberschrift {
        font-size: 100px;
    }
   
    p#beschreibung {
        font-size: 100px;
    }
    
    div.impressum > a.mcButton {
        width: 500px;
        height: 150px;
        font-size: 70px;
    }





}

@media all and (min-width: 2800px) {
    div.header {
        min-height: 10vh;
        background-image: url(images/headerHintergrund_groß.png);
    }
    
    ul.nav-links {
        margin-left: 100px;
    }

    img.logo {
        width: 300%;
    }

    li.header {
        height: 80px;
    }

    li.header > *:not(#searchIcon) {
        padding-top: 40px;
        font-size: 30px;
    }

    li.header > a.active {
        background-color: rgb(51,51,51);
    }

    li#active {
        background-color: rgb(51,51,51);
        border-right: solid 1px #bbb;
    }

    li.header a{
        height: 80px; 
    }
    
    li.header {
        padding-bottom: 100px;
    }

    li.header a.active {
        border-right: 1px solid #bbb;
    }

    input#suchbegriff {
        width: 300px;
        height: 40px;
    }
    
    div.preview {
        background-color: black;
        background-image: none;
        margin-top: 10vh;
    }


    div.gitHub_Information {
        display: none;
    }

    div.gitHub_footer {
        display: none;
    }

    div.previewWindow {
        background-image: url(images/grasshintergrund_landscape_mittel.png);
    }


    h2 {
        font-size: 100px;
    }


    p#beschreibung {
        font-size: 70px;
    }
}

@media all and (min-width: 2600px) and (max-width: 2800px) {
    div.header {
        min-height: 10vh;
        background-image: url(images/headerHintergrund_groß.png);
    }
    
    ul.nav-links {
        margin-left: 100px;
    }

    img.logo {
        width: 300%;
    }

    li.header {
        height: 80px;
    }

    li.header > *:not(#searchIcon) {
        padding-top: 40px;
        font-size: 30px;
    }

    li.header > a.active {
        background-color: rgb(51,51,51);
    }

    li#active {
        background-color: rgb(51,51,51);
        border-right: solid 1px #bbb;
    }

    li.header a{
        height: 80px; 
    }

    input#suchbegriff {
        width: 300px;
        height: 40px;
    }

    div.preview {
        background-color: black;
        background-image: none;
        margin-top: 12vh;
    }

    div.gitHub_Information {
        display: none;
    }

    div.gitHub_footer {
        display: flex;
    }

    ul.gitHub > li > img {
        width: 150px;
        margin-left: 70px;
    }


}

@media all and (min-width: 1600px) {
    div.preview {
        background-color: black;
        background-image: none;
    }
}

@media all and (max-width: 1400px) and (min-width: 850px) {
    .nav-links {
        width: 100%;
    }

    .savespace {
        width: 50px;
    }

    .nav-links li {
        width: 21%;
    }

    div.sidebar {
        margin-top: 100px;
    }

    img.sidebar {
        width: 40px;
        margin-top: 5px;
    }

    div.preview {
        background-image:none;
        background-color: black;
        padding-top: 12%;
    }

    div.previewWindow {
        background-image: url(images/grasshintergrundklein_mittel.png)
    }

    div.footer div {
        border:none;
    }

    p#beschreibung {
        font-size: 13px;
    }

    a.mcButton {
        height: 35px;
    }

    div.gitHub_Information {
        display: none;
    }

    div.gitHub_footer {
        display: flex;
    }
}

@media all and (viewpoint: 1000px) and (max-width: 1400px) {
    .nav-links {
        width: 100%;
    }

    .savespace {
        width: 50px;
    }

    .nav-links li {
        width: 0%;
    }

    div.preview {
        background-image: none;
        background-color: black;
    }

    p#beschreibung {
        font-size: 15px;
        width: 120%;
    }
}

@media all and (max-width: 850px) {
    
    /* Allgemein */
    
    body {
        overflow-x: hidden;
    }

    /* Header */
    
    div.header {
        min-height: 12vh;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 12vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
        border-right: none;
    }

    li#active {
        width: 100%;
    }

    .nav-active {
        transform: translateX(0%);
    }
    
    .navLinks-active {
        animation-name: none;
    }

    .dropdown {
        display: block;
        float: right;
    }
    
    nav {
        height: 12hv;
    }

    img.logo {
        display: fixed;
        margin-top: 15px;
        width: 120px;
    }

    td.savespace {
        display: none;
    }

    div.sidebar {
        margin-top: 15%;
        position: absolute;
        z-index: 0;
        margin-left: 10px;
    }

    div.gitHub_Information {
        display: none;
    }

    div.gitHub_footer {
        display: flex;
    }

    div.preview {
        margin-left: 60px;
        padding-top: 10%;
        background-color: black;
    }

    div.seitenbreite, div.seitenbreite2 {
        margin-left: 5%;
    }

    p.seitenüberschrift {
        font-size: 30px;
        margin-bottom: 10px;
    }

    p.unterüberschrift {
        font-size: 15px;
        padding: 20px 30px;
    }
    
    p#beschreibung {
        font-size: 13px;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    div.previewWindow {
        padding-left: 15px;
    }

    /*Logik-Gatter*/

    div#logicGate {
        width: 100px;
        height: 100px;
        background-image: url('images/grasshintergrundklein_700px.png');
        transition: none;
    }

    div#logicGate:hover {
        width: 100px;
        height: 100px;
    }

    div#logicGate:hover ~ div#logicInvis {
        animation: none;
    }

    div#logicInvis {
        width: 65%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 45%;
    }

    img#logicPic {
        width: 90%;
        height: 70px;
    }

    img#logicPic:hover {
        animation: none;
    }

    /*Tisch*/

    div#table {
        width: 100px;
        height: 100px;
        background-image: url('images/grasshintergrundklein_700px.png');
        transition: none;
    }

    div#table:hover {
        width: 100px;
        height: 100px;
    }

    div#table:hover ~ div#tableInvis {
        animation: none;
    }

    div#tableInvis {
        width: 65%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 45%;
    }

    img#tablePic {
        width: 70px;
        height: 70px;
    }

    img#tablePic:hover {
        opacity: 1;
    }

    /*Tutorial*/

    div#tutorial {
        width: 100px;
        height: 100px;
        background-image: url('images/grasshintergrundklein_700px.png');
        transition: none;
    }

    div#tutorial:hover {
        width: 100px;
        height: 100px;
    }

    div#tutorial:hover ~ div#tutorialInvis {
        animation: none;
    }

    div#tutorialInvis {
        width: 65%;;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 45%;
    }

    img#tutorialPic {
        width: 70px;
        height: 70px;
    }

    img#tutorialPic:hover {
        opacity: 1;
    }

    /*Test*/

    div#test {
        width: 100px;
        height: 100px;
        background-image: url('images/grasshintergrundklein_700px.png');
        transition: none;
    }

    div#test:hover {
        width: 100px;
        height: 100px;
    }

    div#test:hover ~ div#testInvis {
        animation: none;
    }

    div#testInvis {
        width: 65%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 45%;
    }

    img#testPic {
        width: 70px;
        height: 70px;
    }

    img#testPic:hover {
        opacity: 1;
    }

    /* Footer */

    div.footer div {
        border: none;
    }

    a.mcButton {
        height: 30px;
        width: 120px;
        outline: 2px solid black;
        position: relative;
        margin: 0 0 0 10px;
        display: inline-block;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
        background-repeat: repeat;
        padding: 0;
        font-family: Minecraft;
        text-align: center;
        color: white;
        text-shadow: 3px 3px #4C4C4C;
        border-bottom: 4px solid #565656;
        border-right: 2px solid #565656;
        border-left: 2px solid #AAA;
        border-top: 2px solid #AAA;
        box-sizing: border-box;
        font-size: 12px;
        font-family: MCButton;
        text-decoration: none;
        padding-top: 5%;
    }

    a.mcButton span {
        position: relative;
        line-height: 40px;
        bottom: 3px;
    }

    a.mcButton:hover {
        border-bottom: 4px solid #59639A;
        border-right: 2px solid #59639A;
        border-left: 2px solid #BDC6FF;
        border-top: 2px solid #BDC6FF;
        background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png');
        color: #FFFFA0;
    }
}

@media (max-width: 600px) {
    div#logicInvis {
        width: 100%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 5%;
        float: left;
    }

    div#tableInvis {
        width: 100%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 5%;
        float: left;
    }

    div#tutorialInvis {
        width: 100%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 5%;
        float: left;
    }

    div#testInvis {
        width: 100%;
        padding-left: 0px;
        display: block;
        position: relative;
        margin-left: 5%;
        float: left;
    }

    div.preview {
        background-image: none;
        background-color: black;
        padding-top: 20px;
        margin-left: 10%;
    }

    div.footer div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-content: center;
        padding: 8px 0 7px 0;
    }

    img.logoFooter {
        margin-left: 0;
        width: 120px;
        height : 47px;
    }

    img.footer {
        display: flex;
        align-content: center;
        width: 25px;
        margin-right: 5px;
    }
    
    ul.footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 15px;
    }

    a.mcButton {
        padding: 0;
        padding-top: 5px;
        margin: 0;
    }

    div.sidebar {
        margin-top: 7%;
        margin-left: 3%;
    }

    img.sidebar {
        margin-bottom: 2px;
    }

    img.logo {
        width: 80%;
        margin-top: 5px;
    }

    ul.nav-links {
        width: 100%;
        top: 0vh;
        height: 1000%;
    }
    
    li.header {
        height: 25px;
    }

    li.header > * {
        font-size: 15px;
    }

    li.header > a.active {
        background-color: rgb(51,51,51);
    }

    li.header a{
        height: 25px; 
    }

    div.header {
        position: relative;
    }

    table.header {
        margin-top: 0;
    }

    p.seitenüberschrift {
        font-size: 15px;
    }

    p.unterüberschrift {
        font-size: 10px;
        padding: 10px 10px 0 10px;
    }

    p#beschreibung {
        font-size: 8px;
    }

    h2 {
        font-size: 8px;
    }
}